<refTag>
	
   
   	<div class="col s12 center refTag">
  	   
       <p class="reftContent">
        
         <span>
              &copy kayelsoft
         </span>
         

      </p>

  	</div>

   <style type="text/css">
    .reftContent
    {
      font-family: 'caps';
      font-size: 12px;
      color: #cccccc;
    }
    .refTag
      {display: block;position: absolute;bottom: 5px;} 
   </style>
  
  <script>
  	   //On.mount !important for events and effects
  	   var self = this;

  	   this.on('mount', function() 
  	   {

         
       })
 

  </script>

</refTag>